$search-form-color: rgb(242, 234, 234);

@mixin layout {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

:root {
  --nav-color: rgb(0, 0, 0);
  --overview-color: rgb(0, 0, 0);
  --details-color: rgb(0, 0, 0);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

// APPLICATION ARCHITECTURE
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 3rem;
  background-color: rgb(0, 0, 0);
}

#app {
  height: 100%;
  width: 40%;
  display: grid;
  grid-template-rows: 12rem 1fr;
  align-items: start;
  background-color: rgb(255, 255, 255);
  // background-image: url('../src/img/clear-day.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

.nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: start;
  justify-items: center;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: var(--nav-color);
}

// SEARCH FORM
.form {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
}

.search-form {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: $search-form-color;
  border-radius: 1.5rem;

  &-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  &-input {
    flex-grow: 2;
    border: none;
    background-color: $search-form-color;
    font-family: inherit;

    &:focus {
      outline: none;
    }
  }

  &-btn {
    border: none;
    background-color: transparent;
  }

  &-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}

// FORM VALIDATION ALERTS
#search-form-alert {
  padding: 0.5rem;
  height: 2.5rem;
  width: 100%;
  font-size: 80%;
  border-radius: 1.5rem;
  color: white;
  background-color: #900;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.alert-visible {
  opacity: 1;
}

//TEMP CONVERSION
.temp-conversion {
  cursor: default;

  &-c,
  &-f {
    cursor: pointer;
  }

  &-active {
    font-weight: bold;
  }
}

//WEATHER DISPLAY
.weather {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 4rem 2rem;

  &-overview {
    color: var(--overview-color);
    display: grid;
    grid-template-columns: 25rem min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      'location description'
      'temp description';

    &-location {
      grid-area: location;
      font-size: 4rem;
    }
    &-temp {
      grid-area: temp;
      font-size: 12rem;
    }
    &-description {
      grid-area: description;
      padding: 2rem 3rem;
      font-size: 3rem;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      align-self: center;
    }
  }

  &-details {
    color: var(--details-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1.5rem;
    overflow: hidden;

    &-item {
      display: grid;
      justify-items: center;
      grid-template-rows: max-content max-content;
      gap: 1rem;

      &-temp {
        font-size: 3rem;
      }

      &-title {
        font-size: 1.5rem;
      }
    }
  }
}

// ERROR PAGE
.error {
  @include layout;

  &-notification {
    display: flex;
    gap: 1rem;
    margin-top: 10rem;

    &-text {
      font-size: 2.5rem;
      white-space: pre-line;
    }

    &-icon {
      height: 5rem;
      width: 5rem;
    }
  }
}

// LOADER PAGE
.loader {
  @include layout;

  &-gif {
    width: 8rem;
    height: 8rem;
    margin-top: 8rem;
  }
}

// CLASSES FOR BACKGROUND IMAGES
.default-bkg {
  background-image: url('../src/img/background.jpg');
}

.clear-day-bkg {
  background-image: url('../src/img/clear-day.jpg');
}

.clear-night-bkg {
  background-image: url('../src/img/clear-night.jpg');
}

.clouds-day-bkg {
  background-image: url('../src/img/cloud-day.jpg');
}

.clouds-night-bkg {
  background-image: url('../src/img/cloud-night.jpg');
}

.mist-bkg {
  background-image: url('../src/img/mist.jpg');
}

.snow-day-bkg {
  background-image: url('../src/img/snow-day.jpg');
}

.snow-night-bkg {
  background-image: url('../src/img/snow-night.jpg');
}

.rain-bkg {
  background-image: url('../src/img/rain.jpg');
}

.thunder-bkg {
  background-image: url('../src/img/thunder.jpg');
}

// CLASSES TO HIDE ELEMENTS
.invisible {
  opacity: 0;
  pointer-events: none;
}

.hidden {
  display: none;
}

// MEDIA QUERIES
// 1000px
@media only screen and (max-width: 62.5em) {
  .container {
    padding: 0rem;
  }

  .app {
    width: 100%;
    border-radius: 0;
    justify-content: center;
  }
}

// 400px
@media only screen and (max-width: 25em) {
  .html {
    font-size: 50%;
  }
}
